/*
    NAVIGATION CSS!!!
    NAVIGATION CSS!!!
*/
.navbar{
    border-radius: 0;
    margin-bottom: 0;
}

/*
    CONTAINERS page!!!
    CONTAINERS page!!!
*/
#regContainer{
    width: 80%;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: #f1f1f1 5px;
}

#loginContainer{
    width: 35%;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: #f1f1f1 5px;
}

#fpContainer{
    width: 35%;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: #f1f1f1 5px;
}
/*
    JUMBOTRON CSS!!!
    JUMBOTRON CSS!!!
*/

.jumbotron{
    background-image: url("img/pic-jumbotron.jpg");
    background-size: cover;
    padding: 10px;
    margin-bottom: 0;
}

#newsWrapper{
    padding: 20px;
    background-color:  #104382;
    background-size: cover;
}
/*
    CAROUSEL CSS!!!
    CAROUSEL CSS!!!
*/


.carousel h2{
    font-family: "Baskerville Old Face";
    font-size: xx-large;
}

.carousel-inner .carousel-item img{
    width: auto;
    height: 500px;
}

.carousel-inner{
    background: linear-gradient(#fcf8e3,#f5e79e,#99ff99);
}

#carouselCaption1{
    top: 20px;
    margin-left: 480px;
    text-align: center;
    color: black;
}

#carouselCaption2{
    top: 20px;
    margin-left: 180px;
    text-align: left;
    color: black;
}

#carouselCaption3{
    top: 20px;
    margin-left: 330px;
    text-align: left;
    color: black;
}

h2 strong{
    font-size: 7vw;
}

/* PANEL */

p{
    text-indent: 15px;
}

.panel-body ol li{
    background: #f1f1f1;
}

/* FORGOT PASSWORD STYLE */

#email-form , #security-question-form{
    display: none;
}

/* RESULT DISPLAY */
.error{
    color: red;
    font-size: 0.8em;
}
.form-error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
}
.form-success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}
.input-error{
    border: 1px solid red;
}

input[type=text] , input[type=password] , input[type=email]{
    border-color: rgba(34, 34, 34, 0.65);
}

#reg-securityquestionone, #reg-securityquestiontwo, #reg-suffix, #reg-prefix{
    border-color: rgba(34, 34, 34, 0.65);
}
