/*
    NAVIGATION CSS!!!
    NAVIGATION CSS!!!
*/
.navbar{
    border-radius: 0;
    margin-bottom: 0;
}

/*
    MODAL CSS!!!
    MODAL CSS!!!
*/

.modal-lg{
    max-width: 80%;
}


.modal-body{
    height: 400px;
    overflow-y: auto;
}

/*
    JUMBOTRON CSS!!!
    JUMBOTRON CSS!!!
*/

.jumbotron{
    background-image: url("img/pic-jumbotron.jpg");
    background-size: cover;
    padding: 10px;
    margin-bottom: 0;
}

#newsWrapper{
    padding: 20px;
    background-color:  #104382;
    background-size: cover;
}
/*
    CAROUSEL CSS!!!
    CAROUSEL CSS!!!
*/


.carousel h2{
    font-family: "Baskerville Old Face";
    font-size: xx-large;
}

.carousel-inner .carousel-item img{
    width: auto;
    height: 500px;
}

.carousel-inner{
    background: linear-gradient(#fcf8e3,#f5e79e,#99ff99);
}

#carouselCaption1{
    top: 20px;
    margin-left: 480px;
    text-align: center;
    color: black;
}

#carouselCaption2{
    top: 20px;
    margin-left: 180px;
    text-align: left;
    color: black;
}

#carouselCaption3{
    top: 20px;
    margin-left: 330px;
    text-align: left;
    color: black;
}

h2 strong{
    font-size: 7vw;
}

/* PANEL */

p{
    text-indent: 15px;
}

.panel-body ol li{
    background: #f1f1f1;
}

/* FORGOT PASSWORD STYLE */

.dropdown {
    position: relative;
    display:block;
    padding:0;
}

.output {
    margin: 0 auto;
    margin-top: -20px;
    padding: 1em;
}
.thru {
    padding: 2em;
    color: #fff;
    display: none;
}

.dropdown select {
    width:100%;
    height: 40px;
    margin:0;
    background:none;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    font-size:1.25em;
    color: #444;
    padding: .6em 1.9em .5em .8em;
    line-height:15px;
}

select:focus {
    outline:none;
    box-shadow: 0 0 1px 3px rgba(180,222,250, 1);
    background-color:transparent;
    color: #222;
    border:1px solid #aaa;
}

.dropdown::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 8px;
    top: 50%;
    right: 1em;
    margin-top:-4px;
    z-index: 2;
    pointer-events: none;
}

.button {
    border: 1px solid #bbb;
    border-radius: .3em;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    background: #f3f3f3; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
}

form .thru{
    color: #444;
    width: 100%;
}

form .thru #submit{
    float: right;
    margin-right: 65px;
}